Spring-server/.*
*.iml
Spring-server/build/
Spring-server/lombok.config
Spring-server/config/*.properties
*.project
web-app/.gradle/
web-app/.settings/
web-app/build/
web-app/node_modules/
.gradle/
.idea/
.settings/
